@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('./fonts/cuprum.woff') format('woff');
  font-family: 'Cuprum';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/dotgothic16.woff') format('woff');
  font-family: 'DotGothic16';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/frijole.woff') format('woff');
  font-family: 'Frijole';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/nosifer.woff') format('woff');
  font-family: 'Nosifer';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/road-rage.woff') format('woff');
  font-family: 'Road Rage';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/inter/regular.woff') format('woff');
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/inter/semibold.woff') format('woff');
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('./fonts/inter/bold.woff') format('woff');
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
}
